


<h4 class="text-primary mb-4">Editing</h4>

<!-- Grid with editable cells and delete button -->
<igx-grid
  #grid1
  [data]="localData"
  primaryKey="EmployeeID"
  width="100%"
  height="550px"
  class="table-responsive">

  <igx-column field="FirstName" header="First Name" width="150px" [editable]="true"></igx-column>
  <igx-column field="LastName" header="Last Name" width="150px" [editable]="true"></igx-column>
  <igx-column field="Country" width="140px" [editable]="true"></igx-column>
  <igx-column field="Age" width="110px" dataType="number" [editable]="true"></igx-column>
  <igx-column field="RegistererDate" header="Registerer Date" width="180px" dataType="date" [editable]="true">
    <ng-template igxCell let-value>
      {{ value | date }}
    </ng-template>
  </igx-column>
  <igx-column field="IsActive" header="Is Active" width="140px" dataType="boolean" [editable]="true">
    <ng-template igxCell let-cell="cell">
      <igx-checkbox [(ngModel)]="cell.value"></igx-checkbox>
    </ng-template>
  </igx-column>
  <!-- Delete Button Column -->
  <igx-column width="100px" field="Delete" header="Delete">
    <ng-template igxCell let-cell="cell">
      <button class="btn btn-danger" (click)="deleteRow(cell.row.index)">
        Delete
      </button>
    </ng-template>
  </igx-column>
</igx-grid>
